body{background-color:#003131;
	color: white;
	font-size:120%;
	padding: 0 2%;
}
*{
	
	margin#: 2% 0;
	
}
h1,h2,h3{
	color: #66BFBF;
}
	hr{
	width:10%;
	border-width:10px;
	border-color: gray;
	padding: #2%;
	border-style:none;
	border-top-style:dotted;
}
a{display: block; text-decoration: none;}
a:hover{color: aliceblue;
}